#navbar-desktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 5%;
    background-color: #f1f1f1;
    position: fixed;
    max-height: 70%;
    overflow: auto;
    border: 1xp solid black;
  }
  
  #navbar-desktop li a {
    display: block;
    color: #000;
    padding: 8px 16px;

    text-decoration: none;
  }
  
  #navbar-desktop li a.active {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
  }
  
  #navbar-desktop li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .fw-500{
    font-weight: 500 !important;
    color: rgba(255,255,255,.55) !important;
  }

  .ft-25{
    font-size: 25px;
  }

  